include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datastore_refresh *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datastore_refresh/migration *.ini *.py *.mako
