include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datavic_admin *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datavic_admin/migration *.ini *.py *.mako
