{% extends "admin/base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

<div id="datastore_config">
  <form action="" method="post" class="form-horizontal">
    <h3>Create dataset datastore refresh</h3>
    
      {% set datastore_refresh_configs = h.get_datastore_refresh_configs() %}
      {% set dataset_attrs ={'data-module': 'autocomplete', 'data-module-dataset': '', 
            'data-module-label': 'title',
            'data-module-tags': 'false',
            'data-module-createtags': 'false',
            'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}
      
      {{ form.input(
        'dataset', 
        label=_('Dataset'), 
        value="",
        placeholder = "Select datset", 
        error="", 
        classes=['control-full'], 
        attrs=dataset_attrs)}}

      {{ form.select(
        'frequency',
        label=_('Frequency'),
        selected=" ",
        options = h.get_frequency_options(),
        error=errors if errors else None
      ) }}

      <button class="btn btn-primary">Add</button>
      
      <hr />

      <div>
        <h3>Dataset datastore refresh list</h3>
        <small>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th width="70%">Dataset</th>
                <th width="20%">Frequency</th>
                <th width="10%">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for refresh_config in datastore_refresh_configs %}
              <tr>
                <td>  <a href="{{ h.url_for('dataset.read', id=refresh_config.Package.name) }}"> {{ refresh_config.Package.title }}</a> </td>
                <td> {{ h.get_datasore_refresh_config_option(refresh_config.RefreshDatasetDatastore.frequency) }} </td>
                <td> <button class="btn btn-danger" type="submit" name="delete_config" value="{{refresh_config.RefreshDatasetDatastore.id}}"> Delete</button> </td>
              {% endfor%}
            </tbody>
          </table>
        </small>
      </div>
      
  </form>
</div>

{% endblock %}
